* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: grey;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    padding: 40px;
    background: black;
    color: white;
}

.game-container {
    position: relative;
    min-height: 100vh;
}

.scoreboard {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 50px;
    outline: 2px solid white;
    width: 200px;
    margin-left: auto;
    margin-right:auto;
}

.user-score {
    margin-right: 55px;
    color: white;
}

.computer-score {
    color: red;
}

.message {
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.game-buttons {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    color: black;
    margin-left: 35px;
    font-size: 30px;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    background: white;
    border-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}